.b-flag {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 60px;
  padding: 4px 20px 5px;
  max-width: 155px;
  margin-left: -20px;
  color: #ff5333;
  background: #ff5333;
  cursor: pointer
  &__head {
    font-weight: 500;
    font-size: 16px;
    color: white;
    white-space nowrap;
  }
  &__wr {
    width: 100%;
    overflow: hidden;
    height: 0;

    transition all $duraton ease
    &:after {
      content: ''
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: -75px;
      left: 0px;
      border-radius 50%
    }
  }
  &:after,
  &:before {
    content: ''
    position: absolute;
  }
  &:after {
    border-left: 2px solid;
    left: 19px;
    height: 53px;
    bottom: -52px;
  }
  &:before {
    width: 10px;
    height: 10px;
    background: inherit;
    bottom: -60px;
    left: 15px;
    border-radius 50%
  }
  &:hover &__wr {
    height: 37px;
  }
  &__text {
    font-size: 13px;
    line-height: 16px;
    padding-top: 4px;
    padding-bottom: 1px;
    color: white;
  }
}
