mixin b-flag(lef, bot, col, head)
  
  .b-flag(style="color: #{col}; background: #{col}; left: #{lef}%; bottom: #{bot}%")
    .b-flag__head= head
    .b-flag__wr: .b-flag__text 24 000м<sup class="b-text-sup">2</sup><br>открытие в 2016 году