.b-renters {
  text-align: center;
  &__logoist {
    line-height: 55px;
    padding-top: 10px;
  }
  &__item {
    display: inline-block
    vertical-align: top;
    line-height: 1px;
    margin: 0 14px;
    &>img{
      vertical-align: bottom;
      max-height 25px
    }
  }
}