extends layout/base
include ../blocks/b-menu/b-menu

block vars

block head.title
  title #{title} - Главная страница


block body.header
  .b-header.b-header_main.b-page__header.b-page__header_main
    .b-header__background
    //.b-menu_theme_inner
    +b-menu
    .b-header__head
      h1.b-header__logo DEPO
      p.b-header__subscr Самый крупный торговый комплекс<br>в&nbsp;Нижнем Тагиле

    .b-header__downbtn
    
block body.content
  .b-page__main.b-page__main_main
    .b-colored
      ul.b-colored__list
        each val in [1,2,3]
          li.b-colored__item
        li.b-colored__item
          p.b-colored__value 120
          p.b-colored__var дней до открытия
        li.b-colored__item
      .b-colored__text-block.
        Торговый комплекс расположится вдоль одной из&nbsp;главныз магистралей города&nbsp;&mdash; улице 
        Свердловское шоссе, ведущей по&nbsp;направлению к&nbsp;центру города и&nbsp;крупному обособленному 
        району&nbsp;&mdash; Дзержинскому (121&nbsp;тыс. жителей). Также шоссе служит основной дорогой 
        <nobr>въезда/выезда</nobr> из&nbsp;города в&nbsp;направлении Нижний Тагил.
    .b-carousel: .b-carousel__row
      .b-carousel__head События ритейл-парка DEPO
      .b-carousel__wrapper
        .b-carousel__container
          
            a(href="#b-modal__news").b-ccard.js-modal
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-1.jpg').b-ccard__img
            
            a(href="#").b-ccard
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-2.jpg').b-ccard__img
            
            a(href="#").b-ccard
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-1.jpg').b-ccard__img
            
            a(href="#").b-ccard
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-2.jpg').b-ccard__img
            
            a(href="#").b-ccard
              .b-ccard__txt
                p.b-ccard__head 24/02
                p.b-ccard__p Летом планируется открытие якорного продуктового 
                  | арендатора – гипермаркета «Лента»
              img(src='../tmp/b-carousel__img-1.jpg').b-ccard__img
        

block body.footer
  .b-page__footer: a(href="/about.html").b-page__footer-link О проекте

//- block append modal
