extends layout/base
include ../blocks/b-menu/b-menu
include ../blocks/b-flag/b-flag

block vars

block head.title
  title #{title} - Расположение


block body.header
  .b-header.b-page__header
    +b-menu.b-menu_theme_inner

block body.content
  .b-page__main
    .b-text.b-page__text
      h3 Зона охвата
      p.
        Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
        <nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
        спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
    
    .b-plan.b-page__plan
      img(src="../tmp/map.svg").b-plan__img
      .b-plan__legend
        .b-plan__l-head Зона охвата
        .b-plan__l-value 600 000
        .b-plan__l-txt жителей
      .b-plan__village(style="left: 16.54%; top: 59.78%") Евстюхина
      +b-flag(20.57, 47.75,'#ff7829', 'Суперстрой')
      +b-flag(31.84, 16.5 , '#ff7829', 'Drive-cafe')
      +b-flag(35.29, 62.25,'#ff7829', 'Лента')
      +b-flag(52.93, 75.13,'#ff5333', 'Торговая галерея')
      +b-flag(72.33, 78.88,'#ff7829', 'Парк развлечений')
    
    .b-text.b-page__text
      h3 Расположение в городе
      p.
        Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
        <nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
        спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
    
    .b-map.b-page__map
      .b-map__map#js-map
    
    .b-text.b-page__text
      h3 О Нижнем тагиле
      p.
        Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
        <nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
        спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
      
      p Одним из&nbsp;главных направлений развития коммерческой недвижимости называются 
        | именно ритейл-парки, главными плюсами которых являются удобное расположение, 
        | просторная парковка.
    
    .b-page__adv.b-adv
      .b-adv__item
        span.b-adv__adv Площадь земельного участка
        span.b-adv__value 15,8 Га

      .b-adv__item(style='margin-top: 64px')
        span.b-adv__adv Общая площадь ритейл-парка
        span.b-adv__value 4 800 м2

      .b-adv__item(style='margin-top: 77px')
        span.b-adv__adv Арендная площадь
        span.b-adv__value 40 000 м2

      .b-adv__item(style='margin-top: 89px')
        span.b-adv__adv Количество жителей в зоне охвата
        span.b-adv__value >600 тыс.

      .b-adv__item(style='margin-top: 93px')
        span.b-adv__adv Вместимость парковки
        span.b-adv__value 1 800 мест

      .b-adv__item(style='margin-top: 91px')
        span.b-adv__adv Открытие
        span.b-adv__value II Кв. 2006г.

      .b-adv__item(style='margin-top: 93px')
        span.b-adv__adv Проектом предусмотрено расширение до
        span.b-adv__value 60 000 м
          sup 2
    .b-gallery
      h3.b-text-h3.b-gallery__head Интерьеры
      .b-gallery__wr
        .b-gallery__carousel
          .b-gallery__list.js-gallery__container
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
          .b-gallery__overlay
      
      .b-text.b-page__text
        p.
          Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
          <nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
          спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.

    
      
block body.footer
  .b-page__footer.b-page__footer_page_scheme: a(href="/scheme.html").b-page__footer-link  Схема торговой галереи

block prepend body.js
  script(src="http://maps.google.com/maps/api/js?sensor=false", type="text/javascript")
  script(src="/lib/google.map/infobox.js")
    
  