extends layout/base
extends layout/base
include ../blocks/b-menu/b-menu
include ../blocks/b-flag/b-flag

block vars

block head.title
  title #{title} - Стать арендатором


block body.header
  .b-header.b-page__header
    +b-menu.b-menu_theme_inner

block body.content
  .b-map.b-page__main
    .b-map__map.b-map__map_renter#js-map
    .b-map__cont.b-cont
      .b-cont__wr
        .b-cont__head По вопросам аренды:
        p.b-cont__cont ООО «Центарльная недвижимость»<br>620104 Екатеринбург<br>ул. 8 Марта, 12а, офис 117
        p.b-cont__cont
          a(href="tel:+7(343)253-16-77").b-cont__phone +7 (343) 253 16 77
          br
          a(href="tel:+7(963)443-21-36").b-cont__phone +7 (963) 443 21 36
          br
          a(href="mailto:rent@r-cc.ru").b-link rent@r-cc.ru
        a(href="#b-modal__order").js-modal.b-btn Оставить заявку
      
      
block body.footer
  .b-page__footer.b-page__footer_page_copy
    span © Все права принадлежат ООО «Центральная недвижимость»
    a(href="http://vse-yasno.ru/" target="_blank" rel="nofollow noreferrer").b-page__copy Разработка сайта — агенство «Все Ясно»

block append modal
  .b-modal#b-modal__order: .b-modal__wrapper
    i.b-modal__close
    .b-colored.b-colored_type_modal
      ul.b-colored__list
        each val in [1,2,3,4]
          li.b-colored__item
    .b-modal__window
      form(action='/renter.html', novalidate="novalidate").b-form#js-form__order
        .b-form__head Оставьте заявку
        div.b-form__set: input(required, minlength="2",  placeholder="Имя",    type="text", name="name").b-form__input#js-form__name
        div.b-form__set: input(required, minlength="18", placeholder="Телефон", type="tel", name="tel").b-form__input#js-form__tel
        div.b-form__set: textarea(placeholder="Сообщение").b-form__text
        div.b-form__btn-wr
          //конечно нужно не захардкодить это, а асинхронно показать, после успеха
          button(type="submit").b-btn Отправить
    
  .b-modal.b-modal_type_response#b-modal_type_response: .b-modal__wrapper
    i.b-modal__close
    .b-modal__window
      .b-success
        .b-success__wr
          p.b-success__txt Спасибо! Ваша заявка отправлена.<br>Мы свяжемся с вами в ближайшее время.
          a.b-btn.js-modal__close(href="#") ОК
  
block prepend body.js
  script(src="http://maps.google.com/maps/api/js?sensor=false", type="text/javascript")
  script(src="/lib/google.map/infobox.js")
