extends layout/base
include ../blocks/b-menu/b-menu
include ../blocks/b-flag/b-flag

block vars

block head.title
  title #{title} - Схема


block body.header
  .b-header.b-page__header
    +b-menu.b-menu_theme_inner

block body.content
  .b-page__main 
    .b-scheme
      img(src="/tmp/b-scheme.png", height="694", width="975" )
    .b-text.b-page__text
      p.
        Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
        <nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
        спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
    
    .b-gallery
      h3.b-text-h3.b-gallery__head Интерьеры
      .b-gallery__wr
        .b-gallery__carousel
          .b-gallery__list.js-gallery__container
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
            .b-gallery__item: img(src='../tmp/b-gallery.jpg')
          .b-gallery__overlay
      
      .b-text.b-page__text
        p.
          Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
          <nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
          спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.

    
    .b-renters.b-page__renters
      h3.b-text-h3 Наши арендаторы
      .b-renters__logoist
        each val in [1,2,3] 
          a(href="#", title='Dior').b-renters__item: img(src='../tmp/b-renters__img-1.png', alt='Dior')
          a(href="#", title='MEXX').b-renters__item: img(src='../tmp/b-renters__img-2.png', alt='MEXX')
          a(href="#", title='H&M').b-renters__item:  img(src='../tmp/b-renters__img-3.png', alt='H&M')
          a(href="#", title='ZARA').b-renters__item: img(src='../tmp/b-renters__img-4.png', alt='ZARA')
        a(href="#", title='Dior').b-renters__item: img(src='../tmp/b-renters__img-1.png', alt='Dior')
        a(href="#", title='MEXX').b-renters__item: img(src='../tmp/b-renters__img-2.png', alt='MEXX')
        a(href="#", title='H&M').b-renters__item:  img(src='../tmp/b-renters__img-3.png', alt='H&M')
      
block body.footer
  .b-page__footer.b-page__footer_page_renter: a(href="/renter.html").b-page__footer-link  Стать арендатором

//- block append modal
  