.b-text {
  color: $baseTextColor;
  normalFonts()
  & p, &-p {
    margin-bottom: 22px;
  }
  & h1, &-h1 {
    font-size: 54px;
    line-height: 60px;
    font-weight: bold;
  }
  & h2, &-h2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
  }
  & h3, &-h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 21px;
  }
  & p:first-child, &-p:first-child,
  & h1:first-child, &-h1:first-child,
  & h2:first-child, &-h2:first-child,
  & h3:first-child, &-h3:first-child,
  & h4:first-child, &-h4:first-child,
  & h5:first-child, &-h5:first-child,
  & h6:first-child, &-h6:first-child  {
    margin-top: 0;
  }
  &-sup,
  & sup {
    vertical-align: top;
    font-size: 10px;
    line-height: 1;
  }
  & a, &-a {
    baseLink()
  }
}