html,
body {
  text-size-adjust: 100%;
  min-width: 1020px;   //1200
}
.b-page {
  &_disable-hover_yes  {
    pointer-events: none !important;
  }
  & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  &__main {
    flex: 1 0 auto;
    &_main {
      min-height: calc(100vh - 170px);
    }
  }
  &__footer {
    flex-shrink: 0;
    height: 90px;
    line-height: @height;
    background: #ff3333;
    text-align: center
    transition: opacity  .3s ease
    &:hover {
      opacity: .7;
    }
    &_page_place {
      background: #a614b5;
    }
    &_page_renter {
      background: #ff7829;
    }
    &_page_scheme {
      background: #df2db5;
    }
    &_page_copy {
      background: #ff5e3a;
      position: relative;
      color: #fff;
      padding-left: 4.833%;
      padding-right: 4.083%;
      font-weight: 300;
      font-size: 16px;
      line-height: 1;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      &:hover {
        font-weight: 300;
        opacity: 1;
      }
    }
      
  }
  &__footer-link {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 19.5px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  &__copy {
    color: #fff;
    transition: opacity $duraton ease
    font-weight: 300;
    opacity: .99
    &:hover {
      opacity: 0.75;
      font-weight: 300;
    }
  }
  &__header {
    flex-shrink: 0;
    height: 80px;
  }
  &__header_main  {
    height: 100vh;
    min-height: 580px
   /* background: #013c58 no-repeat center top url(b-page__header_main.jpg);
    background-size: cover;*/
  }
    
    
  &__row {     // обертка, ограничивающая блоки по ширине  до 1000
    max-width: 1080px;
    /*min-width: 1000px;*/
    margin-left: auto;
    margin-right: auto;
    position: relative
    clearfix();
  }
    
  &__renters {
    margin: 79px 15% 58px;
  } 
  &__adv {
  
  } 
  &__video {
    margin: 90px 17% 86px;
  }
  &__text {
    text-align: center;
    width: 670px;
    margin: 0 auto 73px;
    &:first-child {
      margin-top: 67px;
    }
  }
  &__plan {  //?
    margin-top: 30px;
    margin-bottom: 90px;
  }
  &__map {
    height: 741px;
    max-height 90vh;
    margin-bottom: 85px;
  }
}
