.b-gallery {
  margin-top: 83px;
  margin-bottom: 73px;
  &__head {
    color: white;
    padding: 14px 29px 17px 15%;
    margin-bottom: 10px;
    text-align: right;
    display: table;
    background: #ff5333;
  }
  &__wr {
    margin-bottom: 17px;
    overflow: hidden;
  }
  &__carousel {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    .owl-controls {
      .owl-nav>div {
        z-index: 1;
      }
    }
  }
  &__overlay {
    &:before,
    &:after {
      content: ''
      position: absolute
      top: 0;
      bottom: 0;
      background: #000;
      opacity: .5;
      width: 1000px;
    }
    &:before {
      left: 100%;
      margin-left: 2px;
    }
    &:after {
      right: 100%;
      margin-right: 2px;
    }
  }
    
  &__list {
    white-space: nowrap;
    /*width: 659px;*/
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  &__list.owl-loaded {
    overflow: visible;
    z-index: auto;
    &.owl-carousel .owl-stage-outer {
      overflow: visible;  
    }
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    font-size: 1px;
    overflow: hidden;
  }
  &__item>img {
    max-height: 100%;
    vertical-align: middle;
  }
  .owl-carousel .owl-controls .owl-nav div {
    $imgArrow = 'b-gallery__arrow.svg'
    $sizeArrow = image-size($imgArrow);

    width  ($sizeArrow[0] / 3) - .333333333333336px
    height $sizeArrow[1]

    &:before,
    &:after {
      background: left top no-repeat url($imgArrow);
    }
    &:after {
      background-position: calc(100% + 1px) 0
    }

    &.owl-next {
      transform: rotate(-90deg)
    }
    &.owl-prev {
      transform: rotate(90deg)
    }
  }
}