.b-mnew {
  max-width: 600px;
  &__date {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }
  &__head {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 11px;
  }
  &>img {
    width: 100%;
    vertical-align: middle;
    margin: 0px 0 0px;
  }
  &>p {
    margin: 16px 0 20px;
  }
  & sup {
    vertical-align: top;
    font-size: 10px;
    line-height: 1;
  }
}