.b-cont {
  width: 600px;
  height: 480px;
  background: rgba(#fff, .8);
  box-shadow 3px 1px 5px rgba(0,0,0,.2);
  text-align: center
  &__wr {
    text-align: left;
    display: inline-block;
    vertical-align: middle
  }
  &:before {
    content: ''
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    margin-right: -3px;
  }
  &__head {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 21px;
  }
  &__cont {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 13px;
  }
  &__phone {
    cursor: default;
    text-decoration: none;
    font-weight: 500;
    &,
    &:hover,
    &:active {
      color: black;
    }
  }
}