.b-map {
  height: 100%;
  position: relative
  &__map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    &_renter {
      top: 60px;
    }
  }
  &__cont {
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}