.b-success {
  background: white;
  width: 410px;
  height: 320px;
  margin: 0 auto;
  text-align: center
  &__wr {
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    content: ''
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    margin-right: -3px;
  }
  &__txt {
    margin-bottom: 13px;
  }
}