$rightWidth = 200px;

$imgLogo  = 'b-header__logo-img.svg';
$sizeLogo = image-size($imgLogo);

$imgArrow = 'b-header__downbtn.svg'
$sizeArrow = image-size($imgArrow);

.b-header {
  &_main {
    /*background: #013c58 no-repeat center top url(b-header_main.jpg);*/
    background: #000;
    position: relative;
    overflow: hidden
  }
  &__background {
    background: #013c58 no-repeat center bottom fixed url(b-header_main.jpg);
    /*transform-origin: 50% 0% 0*/
    background-size: cover;
    transform: translateZ(0) scale(1.3);
    /*transition: all .05s ease;*/
    opacity: 1;
    height: 100%;
    /*height image-size('b-header_main.jpg')[1];*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  &__head {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -.5 * $sizeLogo[1] auto 0;
    width  $sizeLogo[0]
  }
  &__logo {
    background: no-repeat url($imgLogo);
    width  $sizeLogo[0]
    height $sizeLogo[1]
    text-indent: -9999px;
    overflow: hidden;
  }
  &__subscr {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500
    color: white;
    text-align: center;
    padding-top: 25px;
  }
  &__downbtn {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    cursor: pointer;
    margin: auto;

    width  ($sizeArrow[0] / 3) - .333333333333336px
    height $sizeArrow[1]
    &:before,
    &:after {
      content: ''
      position: absolute;
      left:0
      right:0
      top:0
      bottom:0
      transition: opacity $duraton ease;
      background: left top no-repeat url($imgArrow);
    }
    &:before {
      opacity: 1
    }
    &:after {
      opacity:0
      background-position: calc(100% + 1px) 0
    }
    &:hover {
      &:before {
        opacity: 0
      }
      &:after {
        opacity: .7
      }
    }
    &:active {
      &:before {
        opacity: 0
      }
      &:after {
        opacity: 1
      }
    }
  }
  &_main &__downbtn,
  &_main &__head {
    display: block;
  }
}