.b-form {
  width: 402px;
  padding: 27px 0;
  &__head {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 25px;
    
  }
  &__set {
    margin-bottom: 30px;
    
  }
  &__text,
  &__input {
    controlReset();
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 42px;
    padding: 0 9px;
    &::placeholder {
      color: #a8a8a8;
    }
    &:focus {
      border-color: #444;
      outline none
      &::placeholder {
        transition: text-indent 0.5s 0.5s ease;
        text-indent: -100%;
        opacity: 1;
      }
    }
    &.error {
      border-color #ff5333
    }
    &+.error {
      font-size: 13px;
      line-height: 16px;
      color: #ff5333;
      text-align: center;
      padding-top: 8px; 
    }
  }
  &__text {
    height: 122px;
    padding: 11px 9px;
    line-height: 22px;
    max-height 320px
  }
  &__btn-wr {
    text-align: center;
  }
}