.b-modal {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: .8;
    display: none;
    z-index 999
  }
    
  & {
    display: none;
    z-index 999
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    transition top $duraton ease
  }
  &__wrapper {
    display: inline-block;
    text-align: left;
    max-width: 80%;
    min-width: 500px
    background: white;
    position: relative
  }
  &__window {
    min-height: 100px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    padding: 98px 60px 33px;
  }
  &__close {
    position: absolute;
    right: -45px;
    top: -45px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    &:hover {
      transition: opacity $duraton ease;
      opacity: .5
    }
    &:before,
    &:after {
      content: ''
      position: absolute;
      height: 2px;
      background: white;
      width: 29px;
      left: 0
      right: 0;
      top:0
      bottom:0
      margin:auto
    }
    &:before {
      transform: rotate(45deg)
    }
    &:after {
      transform: rotate(-45deg)
    }
  }
  &_type_response &__wrapper {
    background white repeat 0 0 url(b-modal_type_response.svg)
    width: 510px;
    height: 595px;
  }
}
.js-modal {
  cursor: pointer;
}