$colored = ({background: #ff782a, width: 11.347%} {background: #df2db5, width: 11.347%, height: 30px} {background: #a614b5, width: 36.6032%} {background: #ff5333, width: 20.4978%, height: 190px} {background: #ff782a, width: 20.205%})
$height = 40px
$left = 0

$colored_type_modal = ({background: #a614b5, width: 12.5%, height: 40px} {background: #ff7829, width: 33.334%, height: 30px} {background: #f9ab00, width: 20.834%, height: 30px} {background: #ff5333, width: 33.334%, height: 20px})

.b-colored
  position: relative;
  overflow: hidden;
  min-height: 230px;
  &__list
    position: absolute;
    left: 0;
    right: -1px;
    top: 0;
    
  &__item
    position: absolute
    text-align: center
    color: white;
    overflow: hidden;
    &:nth-child(odd) {
      height: $height;
      top: 0;
    }
    &:nth-child(even) {
      top: $height
    }
  
    for $val, $key in $colored
      $left = $left + $colored[$key - 1][width]
      &:nth-child({$key + 1})
        left $left;
        for $value, $prop in $val
          {$value}: $prop
  
  &__text-block
    font-size: 16px;
    position: relative
    margin-top: 77px;
    left: $colored[0][width] + $colored[1][width];
    width $colored[2][width];
    padding-left: 20px;
    padding-right: 20px;
    box-sizing border-box
    overflow: hidden;
    margin-bottom: -1px;
  &__value
    font-size: 120px;
    margin-left: -10px;
    margin-right: -8px;
    /*font-size: 8.7vw;*/
    line-height: .85;
    padding-top: 42px;
    margin-bottom: -5px;
    @media (min-width: $minitablet)
      letter-spacing: -7px
  &__var
    font-weight: 500;
    text-transform: lowercase;
    font-size: 16px;
    line-height: 1;
    
    
  &_type_modal
    position: relative
    top: 40px;
    height: 0;
    min-height: 0
    overflow: visible
    
  &_type_modal &__item
    position: absolute
    text-align: center
    color: white;
    overflow: hidden;
    &:nth-child(odd) {
      height: $height;
      top: auto;
      bottom: 0;
    }
    &:nth-child(even) {
      top: 0
      bottom: auto;
    }

    for $val, $key in $colored_type_modal
      $left = $left + $colored_type_modal[$key - 1][width]
      &:nth-child({$key + 1})
        left $left;
        for $value, $prop in $val
          {$value}: $prop
        