// 1.1 Classy Buttons
//
// Classy buttons are big clickable buttons,
// great for form actions and primary page actions.
// This is used extensively around the site.
//
// :hover - Buttons when hover
// :disabled - Buttons when disabled
// .disabled - The same as :disabled
//
// Examples:
//    <button class="b-button b-button__{{modifier}}">Button (button.b-button)</button>
//    <a href="#" class="b-button b-button__{{modifier}}">Button (a.b-button)</a>

// 1.2 Primary Buttons
//
// Primary buttons are designed for the main form action,
// use whenever creating something.
//
// :hover - Buttons when hover
//
// Examples:
//     <button class="b-button b-button__primary b-button__{{modifier}}">Button (button.b-button__primary)</button>
//     <a href="#" class="b-button b-button__primary b-button__{{modifier}}">Button (a.b-button__primary)</a>

.b-btn {
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background: #ff5333;
  display: inline-block;
  height: 40px
  padding: 0 40px;
  line-height: @height;
  box-sizing border-box
  transition: background $duraton ease;
  &:hover {
    background: #e23f24;
  }
  &:active {
    background: #cc2e15;
  }
}