.b-ccard {
  background: white;
  transition: all $duraton ease
  display: block;
  position: relative
  color: #000;
  height: 0;
  padding-top: 107.22222%;
  &:hover {
    box-shadow 0 0 15px 0 rgba(150,150,150,.5);
    color: #a614b5;
  }
  &__txt {
    padding: 5px 10px 15px;
    height: 69px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__head {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 3px;
  }
  &__p {
    line-height: 17px;
    font-size: 13px;
    height: 3 * @line-height;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    vertical-align: middle;
    position: absolute
    bottom: 0;
    left: 0;
  }
  .owl-item:nth-child(odd) & {
    &__img {
      top: 0;
      bottom: auto;
    }
    &__txt {
      bottom: 0;
      top: auto;
    }
  }
}