@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProRegular/GothamProRegular.eot");
  src: url("GothamProRegular/GothamProRegular.eot?#iefix") format('embedded-opentype'), url("GothamProRegular/GothamProRegular.woff") format('woff'), url("GothamProRegular/GothamProRegular.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProItalic/GothamProItalic.eot");
  src: url("GothamProItalic/GothamProItalic.eot?#iefix") format('embedded-opentype'), url("GothamProItalic/GothamProItalic.woff") format('woff'), url("GothamProItalic/GothamProItalic.ttf") format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProBold/GothamProBold.eot");
  src: url("GothamProBold/GothamProBold.eot?#iefix") format('embedded-opentype'), url("GothamProBold/GothamProBold.woff") format('woff'), url("GothamProBold/GothamProBold.ttf") format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("GothamProBoldItalic/GothamProBoldItalic.eot?#iefix") format('embedded-opentype'), url("GothamProBoldItalic/GothamProBoldItalic.woff") format('woff'), url("GothamProBoldItalic/GothamProBoldItalic.ttf") format('truetype');
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProBlack/GothamProBlack.eot");
  src: url("GothamProBlack/GothamProBlack.eot?#iefix") format('embedded-opentype'), url("GothamProBlack/GothamProBlack.woff") format('woff'), url("GothamProBlack/GothamProBlack.ttf") format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("GothamProBlackItalic/GothamProBlackItalic.eot?#iefix") format('embedded-opentype'), url("GothamProBlackItalic/GothamProBlackItalic.woff") format('woff'), url("GothamProBlackItalic/GothamProBlackItalic.ttf") format('truetype');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProMedium/GothamProMedium.eot");
  src: url("GothamProMedium/GothamProMedium.eot?#iefix") format('embedded-opentype'), url("GothamProMedium/GothamProMedium.woff") format('woff'), url("GothamProMedium/GothamProMedium.ttf") format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("GothamProMediumItalic/GothamProMediumItalic.eot?#iefix") format('embedded-opentype'), url("GothamProMediumItalic/GothamProMediumItalic.woff") format('woff'), url("GothamProMediumItalic/GothamProMediumItalic.ttf") format('truetype');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProLight/GothamProLight.eot");
  src: url("GothamProLight/GothamProLight.eot?#iefix") format('embedded-opentype'), url("GothamProLight/GothamProLight.woff") format('woff'), url("GothamProLight/GothamProLight.ttf") format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Gothman Pro';
  src: url("GothamProLightItalic/GothamProLightItalic.eot");
  src: url("GothamProLightItalic/GothamProLightItalic.eot?#iefix") format('embedded-opentype'), url("GothamProLightItalic/GothamProLightItalic.woff") format('woff'), url("GothamProLightItalic/GothamProLightItalic.ttf") format('truetype');
  font-style: italic;
  font-weight: 300;
}

/*Eric Meyers CSS reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Base elements style */
html,
button,
input,
select,
textarea {
  font-family: 'Gothman Pro', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #000;
}
body {
  font-size: 16px;
  line-height: 1.375em;
  background: #f4f4f7;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* Embedded content */
input::-ms-clear {
  display: none;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* Lists */
ul {
  list-style: none;
}
/* Forms */
legend {
  white-space: normal;
  margin-left: -7px;
}
button,
input,
select,
textarea {
  vertical-align: middle;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
}
textarea {
  resize: vertical;
}
/* Tables */
td {
  vertical-align: top;
}
/* Typography */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.375em 0;
  padding: 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
b,
strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}
.b-link {
  color: #df2db5;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.b-link:hover {
  border-color: inherit;
}
.b-link:active {
  color: #a614b5;
}

.b-text {
  color: #000;
  font: normal 16px/1.375em 'Gothman Pro', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
}
.b-text p,
.b-text-p {
  margin-bottom: 22px;
}
.b-text h1,
.b-text-h1 {
  font-size: 54px;
  line-height: 60px;
  font-weight: bold;
}
.b-text h2,
.b-text-h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
}
.b-text h3,
.b-text-h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 21px;
}
.b-text p:first-child,
.b-text-p:first-child,
.b-text h1:first-child,
.b-text-h1:first-child,
.b-text h2:first-child,
.b-text-h2:first-child,
.b-text h3:first-child,
.b-text-h3:first-child,
.b-text h4:first-child,
.b-text-h4:first-child,
.b-text h5:first-child,
.b-text-h5:first-child,
.b-text h6:first-child,
.b-text-h6:first-child {
  margin-top: 0;
}
.b-text-sup,
.b-text sup {
  vertical-align: top;
  font-size: 10px;
  line-height: 1;
}
.b-text a,
.b-text-a {
  color: #df2db5;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.b-text a:hover,
.b-text-a:hover {
  border-color: inherit;
}
.b-text a:active,
.b-text-a:active {
  color: #a614b5;
}

.b-adv {
  overflow: hidden;
}
.b-adv__value {
  font-size: 42px;
  display: inline-block;
  padding: 17px 30px 11px;
  line-height: 1;
  vertical-align: bottom;
  direction: ltr;
/*transform: translateX(500%)*/
}
.b-adv__value sup {
  vertical-align: top;
  font-size: 60%;
  line-height: 1;
}
.b-adv__adv {
/*transform: translateX(-100%)*/
  font-weight: 500;
  padding: 13px 30px 15px;
  text-transform: uppercase;
  width: 80%;
  box-sizing: border-box;
  display: inline-block;
  line-height: 22px;
  vertical-align: top;
/*margin-top: 50px;*/
/*margin: 0 -5px;*/
}
.b-adv__item {
  line-height: 120px;
  position: relative;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}
.b-adv__item:nth-child(1)>span {
  background: #ff7829;
}
.b-adv__item:nth-child(1) {
  right: 35%;
}
.b-adv__item:nth-child(2)>span {
  background: #f9ab00;
}
.b-adv__item:nth-child(2) {
  direction: rtl;
  text-align: left;
  left: 35%;
}
.b-adv__item:nth-child(3)>span {
  background: #a614b5;
}
.b-adv__item:nth-child(3) {
  right: 35%;
}
.b-adv__item:nth-child(4)>span {
  background: #f33;
}
.b-adv__item:nth-child(4) {
  direction: rtl;
  text-align: left;
  left: 35%;
}
.b-adv__item:nth-child(5)>span {
  background: #f9ab00;
}
.b-adv__item:nth-child(5) {
  right: 35%;
}
.b-adv__item:nth-child(6)>span {
  background: #df2db5;
}
.b-adv__item:nth-child(6) {
  direction: rtl;
  text-align: left;
  left: 35%;
}
.b-adv__item:nth-child(7)>span {
  background: #ff5333;
}
.b-adv__item:nth-child(7) {
  right: 35%;
}

.b-btn {
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: #ff5333;
  display: inline-block;
  height: 40px;
  padding: 0 40px;
  line-height: 40px;
  box-sizing: border-box;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.b-btn:hover {
  background: #e23f24;
}
.b-btn:active {
  background: #cc2e15;
}

.b-carousel {
  padding-top: 80px;
  overflow: hidden;
}
.b-carousel__row {
  margin: 0 auto;
  width: 1110px;
}
.b-carousel__head {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
}
.b-carousel__container {
  visibility: hidden;
}
.b-carousel__wrapper {
  position: relative;
  margin-bottom: 69px;
  margin-top: 7px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  height: 41px;
  width: 40px;
  margin-top: -20.5px;
  cursor: pointer;
  color: transparent;
  font-size: 1px;
  text-indent: -999px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.owl-carousel .owl-controls .owl-nav .owl-prev:before,
.owl-carousel .owl-controls .owl-nav .owl-next:before,
.owl-carousel .owl-controls .owl-nav .owl-prev:after,
.owl-carousel .owl-controls .owl-nav .owl-next:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -1px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: left top no-repeat url("b-carousel__arrow_dir_next.svg");
}
.owl-carousel .owl-controls .owl-nav .owl-prev:before,
.owl-carousel .owl-controls .owl-nav .owl-next:before {
  opacity: 0.99;
  background-position: 0 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:after,
.owl-carousel .owl-controls .owl-nav .owl-next:after {
  opacity: 0;
  background-position: 100% 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover:before,
.owl-carousel .owl-controls .owl-nav .owl-next:hover:before {
  opacity: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover:after,
.owl-carousel .owl-controls .owl-nav .owl-next:hover:after {
  opacity: 0.8;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:active:before,
.owl-carousel .owl-controls .owl-nav .owl-next:active:before {
  opacity: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:active:after,
.owl-carousel .owl-controls .owl-nav .owl-next:active:after {
  opacity: 0.99;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
  right: -60px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: -60px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:before,
.owl-carousel .owl-controls .owl-nav .owl-prev:after {
  background: no-repeat 0 0 url("b-carousel__arrow_dir_prev.svg");
}
.owl-carousel .owl-controls .owl-nav .owl-prev:after {
  background-position: 100% 0;
}

.b-ccard {
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  position: relative;
  color: #000;
  height: 0;
  padding-top: 107.22222%;
}
.b-ccard:hover {
  box-shadow: 0 0 15px 0 rgba(150,150,150,0.5);
  color: #a614b5;
}
.b-ccard__txt {
  padding: 5px 10px 15px;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.b-ccard__head {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 3px;
}
.b-ccard__p {
  line-height: 17px;
  font-size: 13px;
  height: 51px;
  overflow: hidden;
}
.b-ccard__img {
  width: 100%;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 0;
}
.owl-item:nth-child(odd) .b-ccard__img {
  top: 0;
  bottom: auto;
}
.owl-item:nth-child(odd) .b-ccard__txt {
  bottom: 0;
  top: auto;
}

.b-colored {
  position: relative;
  overflow: hidden;
  min-height: 230px;
}
.b-colored__list {
  position: absolute;
  left: 0;
  right: -1px;
  top: 0;
}
.b-colored__item {
  position: absolute;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.b-colored__item:nth-child(odd) {
  height: 40px;
  top: 0;
}
.b-colored__item:nth-child(even) {
  top: 40px;
}
.b-colored__item:nth-child(1) {
  left: 0%;
  background: #ff782a;
  width: 11.347%;
}
.b-colored__item:nth-child(2) {
  left: 11.347%;
  background: #df2db5;
  width: 11.347%;
  height: 30px;
}
.b-colored__item:nth-child(3) {
  left: 22.694%;
  background: #a614b5;
  width: 36.6032%;
}
.b-colored__item:nth-child(4) {
  left: 59.297200000000004%;
  background: #ff5333;
  width: 20.4978%;
  height: 190px;
}
.b-colored__item:nth-child(5) {
  left: 79.795%;
  background: #ff782a;
  width: 20.205%;
}
.b-colored__text-block {
  font-size: 16px;
  position: relative;
  margin-top: 77px;
  left: 22.694%;
  width: 36.6032%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: -1px;
}
.b-colored__value {
  font-size: 120px;
  margin-left: -10px;
  margin-right: -8px;
/*font-size: 8.7vw;*/
  line-height: 0.85;
  padding-top: 42px;
  margin-bottom: -5px;
}
@media (min-width: 950px) {
  .b-colored__value {
    letter-spacing: -7px;
  }
}
.b-colored__var {
  font-weight: 500;
  text-transform: lowercase;
  font-size: 16px;
  line-height: 1;
}
.b-colored_type_modal {
  position: relative;
  top: 40px;
  height: 0;
  min-height: 0;
  overflow: visible;
}
.b-colored_type_modal .b-colored__item {
  position: absolute;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.b-colored_type_modal .b-colored__item:nth-child(odd) {
  height: 40px;
  top: auto;
  bottom: 0;
}
.b-colored_type_modal .b-colored__item:nth-child(even) {
  top: 0;
  bottom: auto;
}
.b-colored_type_modal .b-colored__item:nth-child(1) {
  left: 0%;
  background: #a614b5;
  width: 12.5%;
  height: 40px;
}
.b-colored_type_modal .b-colored__item:nth-child(2) {
  left: 12.5%;
  background: #ff7829;
  width: 33.334%;
  height: 30px;
}
.b-colored_type_modal .b-colored__item:nth-child(3) {
  left: 45.834%;
  background: #f9ab00;
  width: 20.834%;
  height: 30px;
}
.b-colored_type_modal .b-colored__item:nth-child(4) {
  left: 66.668%;
  background: #ff5333;
  width: 33.334%;
  height: 20px;
}

.b-cont {
  width: 600px;
  height: 480px;
  background: rgba(255,255,255,0.8);
  box-shadow: 3px 1px 5px rgba(0,0,0,0.2);
  text-align: center;
}
.b-cont__wr {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.b-cont:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  margin-right: -3px;
}
.b-cont__head {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 21px;
}
.b-cont__cont {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 13px;
}
.b-cont__phone {
  cursor: default;
  text-decoration: none;
  font-weight: 500;
}
.b-cont__phone,
.b-cont__phone:hover,
.b-cont__phone:active {
  color: #000;
}

.b-flag {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 60px;
  padding: 4px 20px 5px;
  max-width: 155px;
  margin-left: -20px;
  color: #ff5333;
  background: #ff5333;
  cursor: pointer;
}
.b-flag__head {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
}
.b-flag__wr {
  width: 100%;
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.b-flag__wr:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -75px;
  left: 0px;
  border-radius: 50%;
}
.b-flag:after,
.b-flag:before {
  content: '';
  position: absolute;
}
.b-flag:after {
  border-left: 2px solid;
  left: 19px;
  height: 53px;
  bottom: -52px;
}
.b-flag:before {
  width: 10px;
  height: 10px;
  background: inherit;
  bottom: -60px;
  left: 15px;
  border-radius: 50%;
}
.b-flag:hover .b-flag__wr {
  height: 37px;
}
.b-flag__text {
  font-size: 13px;
  line-height: 16px;
  padding-top: 4px;
  padding-bottom: 1px;
  color: #fff;
}

.b-form {
  width: 402px;
  padding: 27px 0;
}
.b-form__head {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 25px;
}
.b-form__set {
  margin-bottom: 30px;
}
.b-form__text,
.b-form__input {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e5e5e5;
  height: 42px;
  padding: 0 9px;
}
.b-form__text::-webkit-input-placeholder,
.b-form__input::-webkit-input-placeholder {
  color: #a8a8a8;
}
.b-form__text::-moz-placeholder,
.b-form__input::-moz-placeholder {
  color: #a8a8a8;
}
.b-form__text:-ms-input-placeholder,
.b-form__input:-ms-input-placeholder {
  color: #a8a8a8;
}
.b-form__text::placeholder,
.b-form__input::placeholder {
  color: #a8a8a8;
}
.b-form__text:focus,
.b-form__input:focus {
  border-color: #444;
  outline: none;
}
.b-form__text:focus::-webkit-input-placeholder,
.b-form__input:focus::-webkit-input-placeholder {
  -webkit-transition: text-indent 0.5s 0.5s ease;
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}
.b-form__text:focus::-moz-placeholder,
.b-form__input:focus::-moz-placeholder {
  -webkit-transition: text-indent 0.5s 0.5s ease;
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}
.b-form__text:focus:-ms-input-placeholder,
.b-form__input:focus:-ms-input-placeholder {
  -webkit-transition: text-indent 0.5s 0.5s ease;
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}
.b-form__text:focus::placeholder,
.b-form__input:focus::placeholder {
  -webkit-transition: text-indent 0.5s 0.5s ease;
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}
.b-form__text.error,
.b-form__input.error {
  border-color: #ff5333;
}
.b-form__text+.error,
.b-form__input+.error {
  font-size: 13px;
  line-height: 16px;
  color: #ff5333;
  text-align: center;
  padding-top: 8px;
}
.b-form__text {
  height: 122px;
  padding: 11px 9px;
  line-height: 22px;
  max-height: 320px;
}
.b-form__btn-wr {
  text-align: center;
}

.b-gallery {
  margin-top: 83px;
  margin-bottom: 73px;
}
.b-gallery__head {
  color: #fff;
  padding: 14px 29px 17px 15%;
  margin-bottom: 10px;
  text-align: right;
  display: table;
  background: #ff5333;
}
.b-gallery__wr {
  margin-bottom: 17px;
  overflow: hidden;
}
.b-gallery__carousel {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.b-gallery__carousel .owl-controls .owl-nav>div {
  z-index: 1;
}
.b-gallery__overlay:before,
.b-gallery__overlay:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  width: 1000px;
}
.b-gallery__overlay:before {
  left: 100%;
  margin-left: 2px;
}
.b-gallery__overlay:after {
  right: 100%;
  margin-right: 2px;
}
.b-gallery__list {
  white-space: nowrap;
/*width: 659px;*/
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.b-gallery__list.owl-loaded {
  overflow: visible;
  z-index: auto;
}
.b-gallery__list.owl-loaded.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.b-gallery__item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-size: 1px;
  overflow: hidden;
}
.b-gallery__item>img {
  max-height: 100%;
  vertical-align: middle;
}
.b-gallery .owl-carousel .owl-controls .owl-nav div {
  width: 42px;
  height: 44px;
}
.b-gallery .owl-carousel .owl-controls .owl-nav div:before,
.b-gallery .owl-carousel .owl-controls .owl-nav div:after {
  background: left top no-repeat url("b-gallery__arrow.svg");
}
.b-gallery .owl-carousel .owl-controls .owl-nav div:after {
  background-position: calc(100% + 1px) 0;
}
.b-gallery .owl-carousel .owl-controls .owl-nav div.owl-next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.b-gallery .owl-carousel .owl-controls .owl-nav div.owl-prev {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.b-header_main {
/*background: #013c58 no-repeat center top url(b-header_main.jpg);*/
  background: #000;
  position: relative;
  overflow: hidden;
}
.b-header__background {
  background: #013c58 no-repeat center bottom fixed url("b-header_main.jpg");
/*transform-origin: 50% 0% 0*/
  background-size: cover;
  -webkit-transform: translateZ(0) scale(1.3);
  transform: translateZ(0) scale(1.3);
/*transition: all .05s ease;*/
  opacity: 1;
  height: 100%;
/*height image-size('b-header_main.jpg')[1];*/
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.b-header__head {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -105px auto 0;
  width: 489px;
}
.b-header__logo {
  background: no-repeat url("b-header__logo-img.svg");
  width: 489px;
  height: 210px;
  text-indent: -9999px;
  overflow: hidden;
}
.b-header__subscr {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 25px;
}
.b-header__downbtn {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  cursor: pointer;
  margin: auto;
  width: 42px;
  height: 44px;
}
.b-header__downbtn:before,
.b-header__downbtn:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: left top no-repeat url("b-header__downbtn.svg");
}
.b-header__downbtn:before {
  opacity: 1;
}
.b-header__downbtn:after {
  opacity: 0;
  background-position: calc(100% + 1px) 0;
}
.b-header__downbtn:hover:before {
  opacity: 0;
}
.b-header__downbtn:hover:after {
  opacity: 0.7;
}
.b-header__downbtn:active:before {
  opacity: 0;
}
.b-header__downbtn:active:after {
  opacity: 1;
}
.b-header_main .b-header__downbtn,
.b-header_main .b-header__head {
  display: block;
}

.b-map {
  height: 100%;
  position: relative;
}
.b-map__map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.b-map__map_renter {
  top: 60px;
}
.b-map__cont {
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.b-menu {
  font: 0/0.1 a;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.b-menu:after {
  content: '';
  display: table;
  clear: both;
}
.b-menu__item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  height: 110px;
  width: 16.666666666666668%;
  padding-top: 46px;
  font-family: 'Gothman Pro', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  -webkit-transition: height 0.3s ease, padding-top 0.3s ease, color 0.3s ease;
  transition: height 0.3s ease, padding-top 0.3s ease, color 0.3s ease;
}
span.b-menu__item {
  cursor: default;
}
span.b-menu__item:nth-child(1):before {
  height: 15px;
}
span.b-menu__item:nth-child(1)>span {
  color: #ff5333;
}
span.b-menu__item:nth-child(2):before {
  height: 15px;
}
span.b-menu__item:nth-child(2)>span {
  color: #f33;
}
span.b-menu__item:nth-child(3):before {
  height: 15px;
}
span.b-menu__item:nth-child(3)>span {
  color: #a614b5;
}
span.b-menu__item:nth-child(4):before {
  height: 15px;
}
span.b-menu__item:nth-child(4)>span {
  color: #df2db5;
}
span.b-menu__item:nth-child(5):before {
  height: 15px;
}
span.b-menu__item:nth-child(5)>span {
  color: #ff7829;
}
span.b-menu__item:nth-child(6):before {
  height: 15px;
}
span.b-menu__item:nth-child(6)>span {
  color: #f9ab00;
}
.b-menu__item_type_logo {
  -webkit-transition: padding-top 0.3s ease;
  transition: padding-top 0.3s ease;
  padding-top: 28px;
}
.b-menu__item_type_logo>i {
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 129.5px;
  height: 40px;
  margin-left: -64.75px;
  -webkit-transition: height 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
  transition: height 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
}
.b-menu__item_type_logo>i:before,
.b-menu__item_type_logo>i:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: right top no-repeat url("b-menu__logo.svg");
  background-size: auto 100%;
  opacity: 1;
}
.b-menu__item_type_logo>i:before {
  left: -3px;
}
.b-menu__item_type_logo>i:after {
  opacity: 0;
  left: 0;
  background-position: 0 0;
}
.b-menu__item:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 15px;
}
.b-menu__item > span {
  position: relative;
}
.b-menu__item:nth-child(1):before {
  background: #ff5333;
}
.b-menu__item:nth-child(2):before {
  background: #f33;
}
.b-menu__item:nth-child(3):before {
  background: #a614b5;
}
.b-menu__item:nth-child(4):before {
  background: #df2db5;
}
.b-menu__item:nth-child(5):before {
  background: #ff7829;
}
.b-menu__item:nth-child(6):before {
  background: #f9ab00;
}
.b-menu__item:hover:before {
  -webkit-transition: height 0.3s ease 0.1s;
  transition: height 0.3s ease 0.1s;
  height: 100%;
}
.b-menu_theme_inner {
  background: transparent;
}
.b-menu_theme_inner .b-menu__item {
  height: 80px;
  padding-top: 38px;
  color: #000;
}
.b-menu_theme_inner .b-menu__item_type_logo {
  padding-top: 23px;
}
.b-menu_theme_inner .b-menu__item_type_logo>i:before {
  opacity: 0;
}
.b-menu_theme_inner .b-menu__item_type_logo>i:after {
  opacity: 1;
}
.b-menu_theme_inner a.b-menu__item_type_logo:hover>i:before,
.b-menu_theme_inner a.b-menu__item_type_logo:hover>i:after {
  opacity: 0;
  -webkit-transition: opacity 0s linear 0.2s;
  transition: opacity 0s linear 0.2s;
}
.b-menu_theme_inner a.b-menu__item_type_logo:hover>i:before {
  opacity: 1;
}
.b-menu_state_scrolled {
  background: rgba(255,255,255,0.9);
  z-index: 2;
}
.b-menu_state_scrolled .b-menu__item_type_logo {
  padding-top: 29px;
}
.b-menu_state_scrolled .b-menu__item_type_logo>i {
  height: 30px;
  width: 95.25px;
  margin-left: -47.625px;
}
.b-menu_state_scrolled .b-menu__item_type_logo>i:before {
  left: -1px;
}

.b-mnew {
  max-width: 600px;
}
.b-mnew__date {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.b-mnew__head {
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 11px;
}
.b-mnew>img {
  width: 100%;
  vertical-align: middle;
  margin: 0px 0 0px;
}
.b-mnew>p {
  margin: 16px 0 20px;
}
.b-mnew sup {
  vertical-align: top;
  font-size: 10px;
  line-height: 1;
}

.b-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.8;
  display: none;
  z-index: 999;
}
.b-modal {
  display: none;
  z-index: 999;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -100%;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}
.b-modal__wrapper {
  display: inline-block;
  text-align: left;
  max-width: 80%;
  min-width: 500px;
  background: #fff;
  position: relative;
}
.b-modal__window {
  min-height: 100px;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  padding: 98px 60px 33px;
}
.b-modal__close {
  position: absolute;
  right: -45px;
  top: -45px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}
.b-modal__close:hover {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0.5;
}
.b-modal__close:before,
.b-modal__close:after {
  content: '';
  position: absolute;
  height: 2px;
  background: #fff;
  width: 29px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.b-modal__close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.b-modal__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.b-modal_type_response .b-modal__wrapper {
  background: #fff repeat 0 0 url("b-modal_type_response.svg");
  width: 510px;
  height: 595px;
}
.js-modal {
  cursor: pointer;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  min-width: 1020px;
}
.b-page_disable-hover_yes {
  pointer-events: none !important;
}
.b-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.b-page__main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.b-page__main_main {
  min-height: calc(100vh - 170px);
}
.b-page__footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 90px;
  line-height: 90px;
  background: #f33;
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.b-page__footer:hover {
  opacity: 0.7;
}
.b-page__footer_page_place {
  background: #a614b5;
}
.b-page__footer_page_renter {
  background: #ff7829;
}
.b-page__footer_page_scheme {
  background: #df2db5;
}
.b-page__footer_page_copy {
  background: #ff5e3a;
  position: relative;
  color: #fff;
  padding-left: 4.833%;
  padding-right: 4.083%;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.b-page__footer_page_copy:hover {
  font-weight: 300;
  opacity: 1;
}
.b-page__footer-link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #fff;
  font-size: 19.5px;
  font-weight: bolder;
  text-transform: uppercase;
}
.b-page__copy {
  color: #fff;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-weight: 300;
  opacity: 0.99;
}
.b-page__copy:hover {
  opacity: 0.75;
  font-weight: 300;
}
.b-page__header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 80px;
}
.b-page__header_main {
  height: 100vh;
  min-height: 580px;
/* background: #013c58 no-repeat center top url(b-page__header_main.jpg);
    background-size: cover;*/
}
.b-page__row {
  max-width: 1080px;
/*min-width: 1000px;*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.b-page__row:after {
  content: '';
  display: table;
  clear: both;
}
.b-page__renters {
  margin: 79px 15% 58px;
}
.b-page__video {
  margin: 90px 17% 86px;
}
.b-page__text {
  text-align: center;
  width: 670px;
  margin: 0 auto 73px;
}
.b-page__text:first-child {
  margin-top: 67px;
}
.b-page__plan {
  margin-top: 30px;
  margin-bottom: 90px;
}
.b-page__map {
  height: 741px;
  max-height: 90vh;
  margin-bottom: 85px;
}

.b-plan {
  position: relative;
}
.b-plan__img {
  vertical-align: middle;
  width: 100%;
}
.b-plan__legend {
  color: #fff;
  position: absolute;
  background: #f9ab00;
  bottom: 5.53%;
  left: 51.9%;
  padding: 5px 20px 6px;
}
.b-plan__l-head {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}
.b-plan__l-value {
  font-size: 42px;
  line-height: 0.8;
  white-space: nowrap;
  margin: 7px 0 3px -2px;
}
.b-plan__l-txt {
  font-size: 13px;
  line-height: 16px;
}
.b-plan__village {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #000;
  position: absolute;
}

.b-renters {
  text-align: center;
}
.b-renters__logoist {
  line-height: 55px;
  padding-top: 10px;
}
.b-renters__item {
  display: inline-block;
  vertical-align: top;
  line-height: 1px;
  margin: 0 14px;
}
.b-renters__item>img {
  vertical-align: bottom;
  max-height: 25px;
}

.b-scheme {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 85px;
}
.b-scheme>img {
  vertical-align: top;
}

.b-success {
  background: #fff;
  width: 410px;
  height: 320px;
  margin: 0 auto;
  text-align: center;
}
.b-success__wr {
  display: inline-block;
  vertical-align: middle;
}
.b-success:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  margin-right: -3px;
}
.b-success__txt {
  margin-bottom: 13px;
}

.b-video {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.b-video>iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100.2%;
  height: 100.2%;
}

/*# sourceMappingURL=style.css.map */
