$backgroundColors = (#ff5333 #ff3333 #a614b5 #df2db5 #ff7829 #f9ab00)

.b-menu
  clearfix()
  zeroFonts();
  display: block;
  white-space nowrap;
  overflow: hidden;
  max-width: 100%;
  transition background  $duraton ease;
  position fixed
  width: 100%;
  left 0
  top 0
  &__item
    display: inline-block;
    box-sizing border-box
    vertical-align: top;
    position: relative;

    height: 110px;
    width: (100% / 6);
    padding-top: 46px;

    font-family: $baseFontFamily;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: white;
    cursor: pointer
    transition height $duraton ease, padding-top $duraton ease, color $duraton ease;
    span&
      cursor: default;
      for $color, $ind in $backgroundColors
        &:nth-child({$ind + 1})
          &:before
            height: 15px;
          &>span
            color: $color;

    &_type_logo
      transition padding-top $duraton ease;
      padding-top: 28px;
      &>i
        display: inline-block;
        position: absolute;
        left: 50%;
        width ((image-size('b-menu__logo.svg')[0] - 30) / 2) + 2.5px
        height image-size('b-menu__logo.svg')[1]
        margin-left: -.5 * @width;
        transition height $duraton ease, margin-left $duraton ease, width $duraton ease;

        &:before,
        &:after
          content: '';
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: right top no-repeat url(b-menu__logo.svg);
          background-size: auto 100%;
          opacity: 1
          //transition opacity 0s linear ($duraton/1.5);
        &:before
          left -3px
        &:after
          opacity: 0
          left: 0;
          background-position: 0 0

    &:before
      content: ''
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 15px;

    & > span
      position: relative;

    for $color, $ind in $backgroundColors
      &:nth-child({$ind + 1}):before
        background: $color;

    &:hover
      &:before
        transition height $duraton ease .1s;
        height: 100%;

  &_theme_inner
    background: transparent;

  &_theme_inner &__item
    height: 80px;
    padding-top: 38px;
    color: black;

    &_type_logo
      padding-top: 23px;
      &>i:before
        opacity: 0
      &>i:after
        opacity:1

  &_theme_inner a&__item_type_logo:hover
    &>i:before,
    &>i:after
      opacity:0
      transition opacity 0s linear ($duraton/1.5);
    &>i:before
      opacity:1

  &_state_scrolled
    background rgba(#fff, .9)
    z-index: 2;

  &_state_scrolled  &__item_type_logo
    padding-top: 29px;
    &>i
      height .75 * image-size('b-menu__logo.svg')[1]
      width .75 * ((image-size('b-menu__logo.svg')[0] - 30) / 2)
      margin-left: -.5 * @width;
      &:before
        left: -1px
