mixin b-menu
  nav.b-menu&attributes(attributes)
    a(href="/main.html").b-menu__item.b-menu__item_type_logo
      i
    span.b-menu__item: span О проекте
    a(href="/place.html").b-menu__item: span Расположение
    a(href="/scheme.html").b-menu__item: span Схема ТЦ
    a(href="/renter.html").b-menu__item: span Стать арендатором
    a(href="tel:+7(343)331-22-11").b-menu__item: span +7 343 331 22 11