.b-plan {
  position: relative;
  &__img {
    vertical-align: middle;
    width: 100%;
  }
  &__legend {
    color: white;
    position: absolute;
    background: #f9ab00;
    bottom: 5.53%;
    left: 51.9%;
    padding: 5px 20px 6px;
  }
  &__l-head {
    font-weight: 500;
    font-size: 16px;
    white-space nowrap;
  }
  &__l-value {
    font-size: 42px;
    line-height: .8;
    white-space nowrap;
    margin: 7px 0 3px -2px;
    
  }
  &__l-txt {
    font-size: 13px;
    line-height: 16px;
  }
  &__village {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: black;
    position: absolute;
  }
  
}