.b-carousel {
  padding-top: 80px;
  overflow: hidden
  &__row {
    margin:  0 auto;
    width: $condWidth; //?
  }
  &__head {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
  }
  &__container {
    visibility: hidden;
  }
  &__wrapper {
    position: relative;
    margin-bottom: 69px;
    margin-top: 7px;
  }
}  
$img = 'b-carousel__arrow_dir_next.svg'

.owl-carousel .owl-controls .owl-nav {  
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    height: image-size($img)[1] + 1px;
    width: @height - 1px;
    margin-top: -0.5 * @height;
    cursor: pointer;
    color transparent;
    font-size: 1px;
    text-indent: -999px;
    overflow: hidden;
    transform: translateZ(0);
    &:before,
    &:after {
      content: ''
      position: absolute;
      left:0
      right:0
      top:0
      bottom:-1px
      transition: opacity $duraton ease;
      background: left top no-repeat url($img);
    }
    &:before {
      opacity: .99
      background-position: 0 0
    }
    &:after {
      opacity:0
      background-position: 100% 0
    }
    &:hover {
      &:before {
        opacity: 0
      }
      &:after {
        opacity: .8
      }
    }
    &:active {
      &:before {
        opacity: 0
      }
      &:after {
        opacity: .99
      }
    }
  }
  .owl-next {
    right: -60px;
  }
  .owl-prev {
    left: -60px;
    &:before,
    &:after {
      background: no-repeat 0 0 url(b-carousel__arrow_dir_prev.svg);
    }
    &:after {
      background-position: 100% 0
    }
  }
}