$backgroundColors = (#ff7829 #f9ab00 #a614b5 #ff3333 #f9ab00 #df2db5 #ff5333)

.b-adv
  overflow: hidden
  
  &__value
    font-size: 42px;
    display: inline-block;
    
    padding: 17px 30px 11px;
    line-height: 1
    vertical-align: bottom
    direction ltr
    /*transform: translateX(500%)*/
    & sup
      vertical-align: top
      font-size: 60%;
      line-height: 1;
  &__adv {
    /*transform: translateX(-100%)*/
    font-weight: 500;
    padding: 13px 30px 15px;
    text-transform: uppercase
    width: 80%;
    box-sizing border-box
    display: inline-block
    line-height: 22px;
    vertical-align: top;
    
    /*margin-top: 50px;*/
    /*margin: 0 -5px;*/
    
  }
  &__item
    line-height: 120px;
    position: relative;
    color: white;
    white-space nowrap
    text-overflow ellipsis
    text-align: right
    for $color, $ind in $backgroundColors
      &:nth-child({$ind + 1})
        &>span
          background: $color;
      
      if $ind % 2 == 1
        &:nth-child({$ind + 1})
          direction rtl;
          text-align: left
          left: 35%;
      else
        &:nth-child({$ind + 1})
          right: 35%;