doctype
block vars 

html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      //- CHECKLIST: Remove if activated in .htaccess
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

      //- CHECKLIST: Test on CMS Must be filled on all pages
      block head.title
        title Title

      //- CHECKLIST: Test on CMS SEO stuff, need to be on every indexing page
      link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        
      meta(name="keywords",    content="#{FIXME}")
      meta(name="description", content="#{FIXME}")
      meta(name="viewport",    content="width=device-width, initial-scale=1.0, minimal-ui")
      //- meta(name="viewport",    content="width=device-width, initial-scale=1.0, minimal-ui, user-scalable=no, maximum-scale=1.0")
      meta(name="apple-mobile-web-app-capable", content="yes")

      //- CHECKLIST: Test on CMS Canonical url for a page to index in search engines, need to be on every indexing page
      link(rel="canonical", href="#{FIXME}")

      block head.css
        link(rel="stylesheet", href="lib/owl.carousel/owl.carousel.css")
        link(rel="stylesheet", href="publish/style.css")

        //-if lt IE 9
          link(rel="stylesheet", href="publish/style.ie.css")
      block head.js
        //-if lt IE 9
          script(src="lib/html5shiv/html5shiv.js")

    block body
      body.b-page
        block body.header
        block body.content
          .b-page__main
            p somecontent
        block body.footer
          .b-footer
            p footer
        
        block modal 
          .b-modal-overlay
          .b-modal#b-modal__news: .b-modal__wrapper
            i.b-modal__close
            .b-colored.b-colored_type_modal
              ul.b-colored__list
                each val in [1,2,3,4]
                  li.b-colored__item
            .b-modal__window
              .b-mnew
                .b-mnew__date 24 февраля
                .b-mnew__head Состоялось открытие гипермаркета «Лента»
                img(src="../tmp/b-mnew__img.jpg")
                p.
                  Торговый комплекс расположится вдоль одной из&nbsp;главныз магистралей города&nbsp;&mdash; улице 
                  Свердловское шоссе, ведущей по&nbsp;направлению к&nbsp;центру города и&nbsp;крупному обособленному 
                  району&nbsp;&mdash; Дзержинскому (121&nbsp;тыс. жителей). Также шоссе служит основной дорогой 
                  <nobr>въезда/выезда</nobr> из&nbsp;города в&nbsp;направлении Нижний Тагил. 
                p.
                  Общая площать аренды – 40 000м<sup>2</sup>. Наполнение торговой галереи с&nbsp;фудкортом: 
                  <nobr>fashion-галерея</nobr> магазинов одежды и&nbsp;аксесуаров, супермаркеты детских, 
                  спортивных товаров, бытовой техники; фудкорт 4&nbsp;формата с&nbsp;детской площадкой, кафе.
        
        
        
        block body.js
          //if isDevelopment
          script(src="http://yandex.st/jquery/1.9.1/jquery.min.js")
          script window.jQuery || document.write("<script src=\"lib/jquery/jquery.min.js\"><\/script>")
          script(src="publish/script.js")
          script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount','#{ga}'],['_trackPageview']);
            (function(doc, w, script, c) {
                var f = function () { fjs.parentNode.insertBefore(js, fjs); };
                var js, fjs = doc.getElementsByTagName(script)[2],
                    add = function(url, id) {
                        if (doc.getElementById(id)) {return;}
                        js = doc.createElement(script); js.src = url; js.async = true; js.defer = true;
                        id && (js.id = id);
                        f();
                    };

                (w[c] = w[c] || []).push(function() {
                    try { w.yaCounter#{metrika} = new Ya.Metrika({id:#{metrika}, enableAll: true, webvisor:true}); } catch(e) {}
                });

                add('//www.google-analytics.com/ga.js', 'ga');
                add(("https:" == location.protocol ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js", 'ya-metrika');
                //add('https://apis.google.com/js/plusone.js'); // Google+ button
                //add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk'); // Facebook SDK
                //add('//platform.twitter.com/widgets.js', 'twitter-wjs'); // Twitter SDK
            }(document, window, 'script', 'yandex_metrika_callbacks'));
          noscript.
            <div><img src="//mc.yandex.ru/watch/#{metrika}" style="position:absolute; left:-9999px;" alt="" /></div>